<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      
        <div class="navbar-translate">
            
              <img class="imagotype" src="assets/img/imagotype.png" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span> 
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">
                  <i class="fas fa-briefcase m-2"></i>
                  <p>Portfolio</p>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#meetourteam" >
                    <i class="fas fa-id-card m-2"></i>
                    <p>Meet our team</p>
                  </a>
              </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="#contact">
                    <i class="fas fa-address-card m-2"></i>
                    <p>Contact</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Chat with us on Slack" data-placement="bottom" href="https://duocoder.slack.com" target="_blank">
                    <i class="fab fa-slack"></i>
                    <p class="d-lg-none d-xl-none">Slack</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/duocoder" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="d-lg-none d-xl-none">Twitter</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/duocoder" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/duocoder" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Instagram</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
